@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Styles */

.primary-button{
    @apply bg-[#E5871C] px-4 py-2 rounded-lg text-white text-sm font-sans hover:bg-[#cf7515] transition-all duration-300 ease-in-out delay-100 hover:scale-105 w-full flex items-center justify-center ;
}